


<%= form_for([@quiz, @question]) do |form| %>
<%= form.hidden_field :quiz_id, value: @quiz.id%>
  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
  </p>
  <%= form.submit %>
<% end %>  
  
