<h1><%= @quiz.title %></h1>

<% if @quiz.questions.count != 0 %>
  <%= render @quiz.questions %> 
<% end %>


<% if current_user.isadmin? %>
<h2>Add question</h2>
<%= render 'questions/form' %>

<ul>
  <li><%= link_to "Edit quiz title", edit_quiz_path(@quiz) %></li>
  <li><%= link_to "Destroy quiz", quiz_path(@quiz),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>
<% end %>




