<%= form_for([@quiz, @question, @option]) do |form| %>
  <%= form.hidden_field :question_id, value: @question.id%>
  
  <p>
    <%= form.label :option1 %><br>
    <%= form.text_field :option1 %>
    <%= form.label :correct_key %>
    <%= form.check_box :correct_key %>
  </p>
  <%= form.submit "Save Options" %>
  
<% end %>
