<%= form_with url: answer_create_answers_path, method: :post do |form| %>
<%= form.hidden_field :quiz_id, value: quiz_questions.first.quiz_id%>
<ul>
<% quiz_questions.each do |question| %>

  <li>
  <%= question.body %>
  </li>
  <% question.options.each_with_index do |option| %>
  
  <%= form.radio_button("answers[#{question.id}]", option.option1) %>
  <%= label_tag "#{option.option1}", option.option1 %>
  
  <% end %>
<% end %>
</ul>
<%= form.submit "Submit" %>

<% end %>
